<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      
       <ul class="navbar-nav mr-auto">
        <li class="nav-item"
        [routerLinkActiveOptions]="{exact:true}"
        routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <ng-container *ngIf="getUserRole.includes('Admin') || getUserRole.includes('Buyer')">
          <li class="nav-item"
          routerLinkActive="active">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
        </ng-container>
       <ng-container *ngIf="getUserRole.includes('Buyer') || getUserRole.includes('SuperAdmin')">
        <li class="nav-item"
        routerLinkActive="active">
            <a class="nav-link" routerLink="/products">Products</a>
          </li>
       </ng-container>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info my-2 my-sm-0" (click)="onLogOut()" type="button">Log Out</button>
      </form>
    </div>
  </nav>
