<div class="row">
    <div class="col-12">
        <div class="main">
            <div class="card auth-form">
                <div class="card-body">
                    <div class="logInForm p-3">
                        <div class="loginForm" *ngIf="haveAccount">
                        <h3 class="text-center">Log In Form</h3>
                            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" placeholder="Enter Email"
                                    formControlName="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="text" class="form-control" placeholder="Enter Email"
                                    formControlName="password">
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-success">LogIn</button>
                                </div>
                            </form>
                        </div>

                        <!-- SignUp FOrm -->
                        <div class="signUpForm" *ngIf="!haveAccount">
                         <h3 class="text-center">Sign Up Form</h3>
                            <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
                                <div class="form-group">
                                    <label for="fullname">Fullname</label>
                                    <input type="text" class="form-control" placeholder="Enter fullname"
                                    formControlName="fullname">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" placeholder="Enter Email"
                                    formControlName="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="text" class="form-control" placeholder="Enter Password"
                                    formControlName="password">
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="text" class="form-control"
                                    formControlName="confirmPassword">
                                </div>
                                <div class="form-group">
                                    <label for="contact">Contact</label>
                                    <input type="text" class="form-control" placeholder="Enter contact"
                                    formControlName="contact">
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-success">Sign Up</button>
                                </div> 
                            </form>
                        </div>
                        <p>
                            <a href="#" (click)="haveAccount = !haveAccount" class="btn-link">
                                {{!haveAccount? 'Already Have Account' : 'Dont Have Account Yet?'}}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
